:root {
  --color-primary: #4B4CE0;
  --color-panel-bg: #EEF1FF;
  --color-bg: #4B4CE0;
  --color-text: #4B4CE0;
  --font-sans: 'Inter', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-sans);
  color: var(--color-text);
  line-height: 1.5;
  min-height: 100vh;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

button, input, select, textarea {
  font-family: inherit;
}