
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4B4CE0;
  --color-panel-bg: #EEF1FF;
  --color-bg: #F8FAFC;
  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: var(--font-sans), sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #f1f5f9;
  color: #111827;
}

.grid-cols-layout {
  display: grid;
  grid-template-columns: 250px 1fr 2fr;
}

.login-input {
  @apply w-full border border-blue-300 rounded px-3 py-2 outline-none;
}

.login-box {
  @apply max-w-lg mx-auto bg-white p-8 rounded shadow;
}
